       <!--  menu  -->
        <nav>
                <!-- logo -->
                <a href="/" class="logo">
                    <img src="./images/logo.png"/>
                </a>
                <!-- menu -->
                <div class="nav-links" id="navLinks">
                    <i class="material-icons" onclick="hideMenu()">close</i>
                    <ul class="menu">
                        <li><a href="/menu">Menu</a></li>
                        <li><a href="/order">Order</a></li>
                        <li><a href="/reserve">Reserve</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/login">
                            <img src="./images/circle-cropped.png" />
                            <!--<i class="far fa-user"></i> -->
                        </a></li>
                    </ul>
                </div>
                <i class="material-icons" onclick="showMenu()">menu</i>
        </nav>
        <div class="hoverbg">
            <ul class="hoverclass">
                <li id="eat">EAT</li>
                <li id="drink">DRINK</li>
                <li id="visit">VISIT</li>
            </ul>
        </div>

        <script src="./javascripts/hover.js"></script>
        <script src="./javascripts/hidemenu.js"></script>