<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>007 | Grill House</title>
        <!-- stylesheet --->
        <link rel="stylesheet" type="text/css" href="./stylesheets/style.css"/>
        <link rel="stylesheet" type="text/css" href="./stylesheets/{{style}}">

        <!--  logo  -->
        <link rel="shortcut icon" href="./images/LOGO.png"/>
        <link rel="shortcut icon" type="image/x-icon" href="./images/LOGO.ico" />
        <!-- menu hide icons-->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Jura&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    <body>
        {{{body}}}         
    </body>
</html> 
