        <!--  menu  -->
        <nav>
                <!-- logo -->
                <a href="/" class="logo">
                    <img src="./images/logo.png"/>
                </a>
                <!-- menu -->
                <div class="nav-links" id="navLinks">
                    <i class="material-icons" onclick="hideMenu()">close</i>
                    <ul class="menu">
                        <li><a href="/menu">Menu</a></li>
                        <li><a href="/order">Order</a></li>
                        <li><a href="/reserve">Reserve</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/login">
                            <img src="./images/circle-cropped.png" />
                            <!--<i class="far fa-user"></i> -->
                        </a></li>
                    </ul>
                </div>
                <i class="material-icons" onclick="showMenu()">menu</i>
        </nav>

        <!-- CAtegories Section Starts Here -->
    <section class="categories">
        <div class="container">
            <h2 class="text-center">Categories</h2>

            <a href="#Starters">
            <div class="box-3 float-container">
                <img src="../images/menu/starters.jpg" alt="Starters" class="img-responsive img-curve">

                <h3 class="float-text text-white">Starters</h3>
            </div>
            </a>
            <a href="#Salads">
                <div class="box-3 float-container">
                    <img src="../images/menu/salad.jpg" alt="Salads" class="img-responsive img-curve">
    
                    <h3 class="float-text text-white">Salads</h3>
                </div>
                </a>
            <a href="#Grill">
            <div class="box-3 float-container">
                <img src="../images/menu/grill.jpg" alt="Grill" class="img-responsive img-curve">

                <h3 class="float-text text-white">Grill</h3>
            </div>
            </a>

            <a href="#Burgers">
            <div class="box-3 float-container">
                <img src="../images/menu/burger.jpg" alt="Burgers" class="img-responsive img-curve">

                <h3 class="float-text text-white">Burgers</h3>
            </div>
            </a>
            <a href="#vegan-grill">
                <div class="box-3 float-container">
                    <img src="../images/menu/vegangrill.jpg" alt="Vegan-Grill" class="img-responsive img-curve">
    
                    <h3 class="float-text text-white">Vegan-Grill</h3>
                </div>
                </a>
    
                <a href="#sweets">
                <div class="box-3 float-container">
                    <img src="../images/menu/sweets.jpg" alt="Sweets" class="img-responsive img-curve">
    
                    <h3 class="float-text text-white">Sweets</h3>
                </div>
                </a>
    
                <a href="#drinks&beverages">
                <div class="box-3 float-container">
                    <img src="../images/menu/drinks&beverages.jpg" alt="Drinks&Beverages" class="img-responsive img-curve">
    
                    <h3 class="float-text text-white">Drinks & Beverages</h3>
                </div>
                </a>

            <div class="clearfix"></div>
        </div>
    </section>
    <!-- Categories Section Ends Here -->
    
       <!-- fOOD MEnu Section Starts Here -->
        <section class="food-menu">
            <div class="container" id="Starters">
                <h2 class="text-center">Starters</h2>
                <div class="food-menu-box">
                    <div class="food-menu-img">
                        <img src="../images/menu/starters.jpg" alt="Starters" class="img-responsive img-curve">
                    </div>
    
                    <div class="food-menu-desc">
                        <h4>Bruschetta</h4>
                        <p class="food-price">$3.3</p>
                        <p class="food-detail">
                           Grilled bread with tomato, parmesan and olive oil.
                        </p>
                        <br>
    
                    </div>
                </div>
    
                <div class="food-menu-box">
                    <div class="food-menu-img">
                        <img src="../images/menu/onionrings.jpg" alt="onionrings" class="img-responsive img-curve">
                    </div>
    
                    <div class="food-menu-desc">
                        <h4>Onion Rings</h4>
                        <p class="food-price">$2.8</p>
                        <p class="food-detail">
                            Fried onion rings with spicy BBQ sauce.
                        </p>
                        <br>
    
                    </div>
                </div>
    
                <div class="food-menu-box">
                    <div class="food-menu-img">
                        <img src="../images/menu/freshfries.jpg" alt="freshfries" class="img-responsive img-curve">
                    </div>
    
                    <div class="food-menu-desc">
                        <h4>Fresh Fries</h4>
                        <p class="food-price">$3.5</p>
                        <p class="food-detail">
                            Fresh hand cut fried potatoes.
                        </p>
                        <br>
    
                    </div>
                </div>
    
                <div class="food-menu-box">
                    <div class="food-menu-img">
                        <img src="../images/menu/dips&sauces.jpg" alt="dips&sauces" class="img-responsive img-curve">
                    </div>
    
                    <div class="food-menu-desc">
                        <h4>Dips & Sauces</h4>
                        <p class="food-price">$3.7</p>
                        <p class="food-detail">
                            Perfect combination with grilled bread.
                        </p>
                        <br>
    
                    </div>
                </div>
    
                <div class="food-menu-box">
                    <div class="food-menu-img">
                        <img src="../images/menu/grilledbread.jpg" alt="grilledbread" class="img-responsive img-curve">
                    </div>
    
                    <div class="food-menu-desc">
                        <h4>Grilled Bread</h4>
                        <p class="food-price">$1.1</p>
                        <p class="food-detail">
                            Slices of grilled bread. Perfect combination with Dips & Sauces.
                        </p>
                        <br>
    
                    </div>
                </div>
                </div>
            
    
                <div class="food-menu-box">
                    <div class="food-menu-img">
                        <img src="../images/menu/wedges.jpg" alt="wedges" class="img-responsive img-curve">
                    </div>
    
                    <div class="food-menu-desc">
                        <h4>Fried skin wedges (with Ketchup Sauce)</h4>
                        <p class="food-price">$4.0</p>
                        <p class="food-detail">
                            Fresh hand cut fried potatoes with skin.
                        </p>
                        <br>
    
                    </div>
                </div>
    
    
                <div class="clearfix"></div>
    
                
    
            </div>
    
            <div class="container" id="Salads">
                <h2 class="text-center">Salads</h2>
    
                <div class="food-menu-box">
                    <div class="food-menu-img">
                        <img src="../images/menu/ceasars.jpg" alt="ceasars" class="img-responsive img-curve">
                    </div>
    
                    <div class="food-menu-desc">
                        <h4>Ceasars</h4>
                        <p class="food-price">$8.0</p>
                        <p class="food-detail">
                            Fresh greens,smoked bacon,chicken,tomato sticks,parmesan flakes and Ceasar's sauce.
                        </p>
                        <br>
    
                    </div>
                </div>
    
                <div class="food-menu-box">
                    <div class="food-menu-img">
                        <img src="../images/menu/quinoa.jpg" alt="quinoa" class="img-responsive img-curve">
                    </div>
    
                    <div class="food-menu-desc">
                        <h4>Quinoa Salad</h4>
                        <p class="food-price">$7.5</p>
                        <p class="food-detail">
                            Quinoa,tomato,avocado,valeriana,orange slices and citrus dressing.
                        </p>
                        <br>
    
                    </div>
                </div>
    
                <div class="food-menu-box">
                    <div class="food-menu-img">
                    <img src="../images/menu/greeksalad.jpg" alt="greek" class="img-responsive img-curve">
                    </div>
    
                    <div class="food-menu-desc">
                        <h4>Greek Salad</h4>
                        <p class="food-price">$6.5</p>
                        <p class="food-detail">
                            Tomato,Cucumber,Olives,olive oil,onion,oregano and feta cheese
                        </p>
                        <br>
    
                    </div>
                </div>
    
                <div class="food-menu-box">
                    <div class="food-menu-img">
                        <img src="../images/menu/buffalo.png" alt="Bufallo" class="img-responsive img-curve">
                    </div>
    
                    <div class="food-menu-desc">
                        <h4>Bufallo Chicken Salad</h4>
                        <p class="food-price">$7.8</p>
                        <p class="food-detail">
                        Chopped Bufallo Tender,mixed green,schredded cheese,egg,bacon,tomatoes.
                        </p>
                        <br>
    
                    </div>
                </div>
    
                <div class="food-menu-box">
                    <div class="food-menu-img">
                        <img src="../images/menu/tomato-mozzarela.jpg" alt="tomato-mozzarela" class="img-responsive img-curve">
                    </div>
    
                    <div class="food-menu-desc">
                        <h4>Tomato & Mozzarella Salad</h4>
                        <p class="food-price">$7.4</p>
                        <p class="food-detail">
                            Fresh Mozzarella,sliced tomatoes over mixed greens,balsamic glaze.
                        </p>
                        <br>
    
                    </div>
                </div>
    
                <div class="food-menu-box">
                    <div class="food-menu-img">
                        <img src="../images/menu/green.jpg" alt="green" class="img-responsive img-curve">
                    </div>
    
                    <div class="food-menu-desc">
                        <h4>Green Salad</h4>
                        <p class="food-price">$6.3</p>
                        <p class="food-detail">
                        Fresh greens with grilled asparagus,green peppers and vinegar.
                        </p>
                        <br>
    
                    </div>
                </div>
    
    
                <div class="clearfix"></div>
    
                
    
            </div>
            <div class="container" id="Grill">
                <h2 class="text-center">Grill</h2>
    
                <div class="food-menu-box">
                    <div class="food-menu-img">
                        <img src="../images/menu/ribeye.jpg" alt="rib-eye" class="img-responsive img-curve">
                    </div>
    
                    <div class="food-menu-desc">
                        <h4>Rib-Eye Steak</h4>
                        <p class="food-price">$18.4</p>
                        <p class="food-detail">
                            Dry aged 400gr grilled steak.
                        </p>
                        <br>
    
                    </div>
                </div>
    
                <div class="food-menu-box">
                    <div class="food-menu-img">
                        <img src="../images/menu/t-bone.jpg" alt="t-bone" class="img-responsive img-curve">
                    </div>
    
                    <div class="food-menu-desc">
                        <h4>T-bone steak</h4>
                        <p class="food-price">$12.3</p>
                        <p class="food-detail">
                            Dry aged 350gr grilled T-bone steak.
                        </p>
                        <br>
    
                    </div>
                </div>
    
                <div class="food-menu-box">
                    <div class="food-menu-img">
                        <img src="../images/menu/tomahawk.jpg" alt="tomahawk" class="img-responsive img-curve">
                    </div>
    
                    <div class="food-menu-desc">
                        <h4>Tomahawk Steak</h4>
                        <p class="food-price">$14.3</p>
                        <p class="food-detail">
                            800gr Tomahawk steak.
                        </p>
                        <br>
    
                    </div>
                </div>
    
                <div class="food-menu-box">
                    <div class="food-menu-img">
                        <img src="../images/menu/chickenfilet.jpg" alt="chickenfilet" class="img-responsive img-curve">
                    </div>
    
                    <div class="food-menu-desc">
                        <h4>Chicken Filet</h4>
                        <p class="food-price">$10.0</p>
                        <p class="food-detail">
                            Perfectly grilled chicken filet, roasted with rosemary.
                        </p>
                        <br>
    
                    </div>
                </div>
    
                <div class="food-menu-box">
                    <div class="food-menu-img">
                        <img src="../images/menu/porkfilet.jpg" alt="porkfilet" class="img-responsive img-curve">
                    </div>
    
                    <div class="food-menu-desc">
                        <h4>Pork Filet</h4>
                        <p class="food-price">$11.5</p>
                        <p class="food-detail">
                            Perfectly grilled pork filet, roasted with rosemary.
                        </p>
                        <br>
    
                    </div>
                </div>
    
                <div class="food-menu-box">
                    <div class="food-menu-img">
                        <img src="../images/menu/porksteak.jpg" alt="porksteak" class="img-responsive img-curve">
                    </div>
    
                    <div class="food-menu-desc">
                        <h4>Pork Steak</h4>
                        <p class="food-price">$8.3</p>
                        <p class="food-detail">
                            400gr Pork steak, perfectly grilled.
                        </p>
                        <br>
    
                    </div>
                </div>
    
    
                <div class="clearfix"></div>
    
                
                <div class="container" id="Burgers">
                    <h2 class="text-center">Burgers</h2>
        
                    <div class="food-menu-box">
                        <div class="food-menu-img">
                            <img src="../images/menu/burger.jpg" alt="classicburger" class="img-responsive img-curve">
                        </div>
        
                        <div class="food-menu-desc">
                            <h4>Classic Burger</h4>
                            <p class="food-price">$6.3</p>
                            <p class="food-detail">
                                Beef burger,lettuce,onion,ketchup,mustard.
                            </p>
                            <br>
        
                        </div>
                    </div>
        
                    <div class="food-menu-box">
                        <div class="food-menu-img">
                            <img src="../images/menu/bbq-burger.jpg" alt="bbq-burger" class="img-responsive img-curve">
                        </div>
        
                        <div class="food-menu-desc">
                            <h4>BBQ Burger</h4>
                            <p class="food-price">$6.9</p>
                            <p class="food-detail">
                                Beef burger,cheddar,bacon,onion rings,lettuce,BBQ sauce.
                            </p>
                            <br>
        
                        </div>
                    </div>
        
                    <div class="food-menu-box">
                        <div class="food-menu-img">
                            <img src="../images/menu/chickenburger.jpg" alt="Chicken Burger" class="img-responsive img-curve">
                        </div>
        
                        <div class="food-menu-desc">
                            <h4>Chicken Burger</h4>
                            <p class="food-price">$6.9</p>
                            <p class="food-detail">
                                Chicken burger,pepper rings,tomato,mustard sauce.
                            </p>
                            <br>
        
                        </div>
                    </div>
        
                    <div class="food-menu-box">
                        <div class="food-menu-img">
                            <img src="../images/menu/jackdanielsburger.jpg" alt="jackdanielsburger" class="img-responsive img-curve">
                        </div>
        
                        <div class="food-menu-desc">
                            <h4>Jack Daniel's Burger</h4>
                            <p class="food-price">$7.2</p>
                            <p class="food-detail">
                                Beef burger,bacon,mushroom,lettuce,tomato,Jack Daniel's sauce.
                            </p>
                            <br>
        
                        </div>
                    </div>
        
        
                    <div class="clearfix"></div>
        
                    
        
                </div>
            <div class="container" id="vegan-grill">
                <h2 class="text-center">Vegan-Grill</h2>
    
                <div class="food-menu-box">
                    <div class="food-menu-img">
                        <img src="../images/menu/vegangrill.jpg" alt="Pleurotus" class="img-responsive img-curve">
                    </div>
    
                    <div class="food-menu-desc">
                        <h4>Pleurotus Mushroom</h4>
                        <p class="food-price">$12.3</p>
                        <p class="food-detail">
                            Grilled Pleurotus mushrooms with vinegrette sauce.
                        </p>
                        <br>
    
                    </div>
                </div>
    
                <div class="food-menu-box">
                    <div class="food-menu-img">
                        <img src="../images/menu/vegieburger.jpg" alt="vegieburger" class="img-responsive img-curve">
                    </div>
    
                    <div class="food-menu-desc">
                        <h4>Vegie Burger</h4>
                        <p class="food-price">$15.8</p>
                        <p class="food-detail">
                            Vegan burger made of soya.tofu and mushrooms.
                        </p>
                        <br>
    
                    </div>
                </div>
    
                <div class="clearfix"></div>
    
                
    
            </div>
            <div class="container" id="sweets">
                <h2 class="text-center">Sweets</h2>
    
                <div class="food-menu-box">
                    <div class="food-menu-img">
                        <img src="../images/menu/Panna-cotta.jpg" alt="Panna-cotta" class="img-responsive img-curve">
                    </div>
    
                    <div class="food-menu-desc">
                        <h4>Panna cotta</h4>
                        <p class="food-price">$4.0</p>
                        <p class="food-detail">
                            Italian Panna cotta with marble syrup.
                        </p>
                        <br>
    
                    </div>
                </div>
    
                <div class="food-menu-box">
                    <div class="food-menu-img">
                        <img src="../images/menu/profiterole.jpg" alt="profiterole" class="img-responsive img-curve">
                    </div>
    
                    <div class="food-menu-desc">
                        <h4>Profiterole</h4>
                        <p class="food-price">$4.5</p>
                        <p class="food-detail">
                            Fresh choux with cream and chocolate ganache.
                        </p>
                        <br>
    
                    </div>
                </div>
    
                <div class="food-menu-box">
                    <div class="food-menu-img">
                        <img src="../images/menu/ice-cream.jpg" alt="ice-cream" class="img-responsive img-curve">
                    </div>
    
                    <div class="food-menu-desc">
                        <h4>Ice cream</h4>
                        <p class="food-price">$2.0</p>
                        <p class="food-detail">
                            Many Flavours of delicious ice cream.
                        </p>
                        <br>
    
                    </div>
                </div>
    
                <div class="food-menu-box">
                    <div class="food-menu-img">
                        <img src="../images/menu/cheesecake.jpg" alt="cheesecake" class="img-responsive img-curve">
                    </div>
    
                    <div class="food-menu-desc">
                        <h4>Cheesecake</h4>
                        <p class="food-price">$4.5</p>
                        <p class="food-detail">
                            Homemade cheesecake with strawberry jam.
                        </p>
                        <br>
    
                    </div>
                </div>
    

                <div class="clearfix"></div>
    
                
    
            </div>
    
            <div class="container" id="drinks&beverages">
                <h2 class="text-center">Drinks & Beverages</h2>
    
                <div class="food-menu-box">
                    <div class="food-menu-img">
                        <img src="../images/menu/water0.5.jpg" alt="water0.5" class="img-responsive img-curve">
                    </div>
    
                    <div class="food-menu-desc">
                        <h4>Water 0.5L</h4>
                        <p class="food-price">$0.5</p>
                        <p class="food-detail">
                        </p>
                        <br>
    
                    </div>
                </div>
    
                <div class="food-menu-box">
                    <div class="food-menu-img">
                        <img src="../images/menu/water1.5.JPG" alt="water1.5" class="img-responsive img-curve">
                    </div>
    
                    <div class="food-menu-desc">
                        <h4>Water 1.5L</h4>
                        <p class="food-price">$1.0</p>
                        <p class="food-detail">
                        </p>
                        <br>
    
                    </div>
                </div>
    
                <div class="food-menu-box">
                    <div class="food-menu-img">
                        <img src="../images/menu/perrier.jpg" alt="perrier" class="img-responsive img-curve">
                    </div>
    
                    <div class="food-menu-desc">
                        <h4>Perrier 0.33L</h4>
                        <p class="food-price">$3.0</p>
                        <p class="food-detail">

                        </p>
                        <br>
    
                    </div>
                </div>
    
                <div class="food-menu-box">
                    <div class="food-menu-img">
                        <img src="../images/menu/cocacola.jpg" alt="Chicke Hawain Pizza" class="img-responsive img-curve">
                    </div>
    
                    <div class="food-menu-desc">
                        <h4>Coca Cola 0.25L</h4>
                        <p class="food-price">$2.5</p>
                        <p class="food-detail">

                        </p>
                        <br>
    
                    </div>
                </div>
    
                <div class="food-menu-box">
                    <div class="food-menu-img">
                        <img src="../images/menu/winebottles.jpg" alt="winebottle" class="img-responsive img-curve">
                    </div>
    
                    <div class="food-menu-desc">
                        <h4>Wine Bottle</h4>
                        <p class="food-price">$15.0</p>
                        <p class="food-detail">
                            Variety of Red,Rose and white wine.
                        </p>
                        <br>
    
                    </div>
                </div>
    
                <div class="food-menu-box">
                    <div class="food-menu-img">
                        <img src="../images/menu/wineglasses.jpg" alt="Chicke Hawain Momo" class="img-responsive img-curve">
                    </div>
    
                    <div class="food-menu-desc">
                        <h4>Wine glass</h4>
                        <p class="food-price">$4.0</p>
                        <p class="food-detail">
                            Variety of Red,Rose and white wine.
                        </p>
                        <br>
    
                    </div>
                </div>
                <div class="food-menu-box">
                    <div class="food-menu-img">
                        <img src="../images/menu/beer.jpg" alt="Chicke Hawain Momo" class="img-responsive img-curve">
                    </div>
    
                    <div class="food-menu-desc">
                        <h4>Beer draught 0.3L</h4>
                        <p class="food-price">$3.5</p>
                        <p class="food-detail">

                        </p>
                        <br>
    
                    </div>
                </div>
                <div class="food-menu-box">
                    <div class="food-menu-img">
                        <img src="../images/menu/beer.jpg" alt="Chicke Hawain Momo" class="img-responsive img-curve">
                    </div>
    
                    <div class="food-menu-desc">
                        <h4>Beer draught 0.5L</h4>
                        <p class="food-price">$5.0</p>
                        <p class="food-detail">

                        </p>
                        <br>
    
                    </div>
                </div>
    
                <div class="clearfix"></div>
    
                
    
            </div>
    
        </section>
        <!-- fOOD Menu Section Ends Here --> 
        <footer>
            <div class="contact">
                Address: Dimitriou Gounari 112 | Patras, Greece | 26220</br>
                Phone: +30-2610231456
            </div>
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-instagram"></a>
        </footer>
    <script src="./javascripts/hidemenu.js"></script>